body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525f7f;
    text-align: left;
    background-color: #181818;
}
  
.navbar.bg-primary {
  background-color: #14633fce!important;
}
  
.bg-info {
  background-color: #797979 !important;
}
  
.card {
  color: #202020;
  background: #f0f0f0;
  border: 0;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-top: 30px;
}
  
.contactus-4 .map:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 700%;
  background: rgba(34, 42, 66, 0);
  background-position: 23% 10%;
  left: 0;
  top: 0;
  text-align: center;
  align-items: center;
}
  
.contactus-4 .info .info .icon {
  color: #292929;
}
  
.contactus-4 .info {
  height: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 15px;
}
  
.info {
  max-width: 100%;
  margin: 0 auto;
  padding: 70px 10px 30px;
  text-align: center;
  border-radius: 3px;
}
  
.contactus-4 .title {
  margin-top: 0px;
}
  
.contactus-4 .description {
  margin-bottom: 0px;
}
  
[class*="blogs-"] .title {
  margin-bottom: 7px;
}
  
.title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 600;
  color: #1b8857;
}
  
.navbar .navbar-brand {
  position: relative;
  padding-top: 0rem;
  padding-bottom: 0rem;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1rem;
}
  
.navbar-brand {
  display: inline-block;
  padding-top: 0rem;
  padding-bottom: 0.rem;
  margin-right: 0rem;
  font-size: 0.99925rem;
  line-height: inherit;
  white-space: nowrap;
}
  
.navbar .navbar-brand {
  margin-left: 0px;
  position: relative;
}
  
.burger-menu.menu-on-left .navbar-brand {
  float: right;
  margin-right: 0;
  margin-left: 0rem;
}
  
@media screen and (max-width: 991px) {
  .box {
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 13px 1rem;
  }
  
  .navbar .navbar-translate {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between !important;
  }

  .navbar-collapse {
    position: absolute;
    width: calc(100% - 1.4rem);
    height: auto !important;
    left: 0;
    top: 0;
    margin: 0.7rem;
    background: rgba(69, 69, 69, 0.96);
    border-radius: 0.2857rem;
    padding: 1.4rem;
  }

  .navbar.bg-white .navbar-nav .nav-item a.nav-link {
    color: #ffffff !important;
  }
}
  
@media screen and (min-width: 992px) {
  .box {
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 13px 5.4rem;
  }
  
  .navbar .navbar-translate {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between !important;
  }

  .navbar-collapse {
    position: absolute;
    width: calc(100% - 1.4rem);
    height: auto !important;
    left: 0;
    top: 0;
    margin: 0.7rem;
    background: rgba(69, 69, 69, 0.96);
    border-radius: 0.2857rem;
    padding: 1.4rem;
  }

  .navbar.bg-white .navbar-nav .nav-item a.nav-link {
    color: #ffffff !important;
  }
}
  
.blogs-4 .card {
  margin-bottom: 0px;
  text-align: center;
}
  
.card .card-body .card-title {
  color: #ffffff;
  text-transform: inherit;
  font-weight: 300;
  margin-bottom: .75rem;
  margin-top: 15px;
  line-height: 1.25em;
}
  
.card-background.card-blog[data-animation="true"]:after,
.card-background.card-blog[data-animation="zooming"]:after {
  height: 100%;
  top: auto;
  border-radius: 0.4285rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.75) 100%);
}
  
textarea.form-control {
  padding: -0.5rem 0.7rem;
  max-width: 100%;
  max-height: 100%;
  resize: none;
  border-radius: 0.4285rem;
  line-height: 2;
}
  
.hero-image {
  background-image: url("/assets/img/img_3.jpg");
  width: 100%;
  background-position: center center;
  background-size:cover;
}

.hero-image_2 {
  width: 100%;
  background-position: center center;
  background-size:cover;
  background-color: #1a1a1a;
}

.hero-image_3 {
  width: 100%;
  background-position: center center;
  background-size:cover;
  background-color: #313131;
}
  
.hero-image_4 {
  width: 100%;
  background-position: center center;
  background-size:cover;
  background-color: #494949;
}

.textEdit2{
  color: rgba(255, 255, 255, 0.999);
  font-size: 1.2em;
  text-align: left;
}
  
.textEdit1{
  color: rgba(255, 255, 255, 0.999);
}
  
.container0{
  padding: 15px
}
  
.container1{
  padding-left: 5px;
  padding-right:5px;
  padding-top: 15px;
  padding-bottom: 45px;
}
  
.container3{ 
  width: auto;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
    
.formatText{
  text-align: left;
  align-items: left;
  padding-left: 20%;  
}
  
.formatText2{
  text-align: left;
}
  
.bi-people-fill{
  color: #ffffff;
  font-size: 4em;
}
  
.bi-eye-fill{
  color: #ffffff;
  font-size: 4em;
}
  
.bi-person-hearts{
  color: #ffffff;
  font-size: 4em;
}

.bi-bank{
  color: #1b8857;
  font-size: 4em;
}
    
.bi-lightbulb-fill{
  color: #1b8857;
  font-size: 4em;
}

.bi-heart-fill{
  color: #1b8857;
  font-size: 4em;
}
      
.color_1 {
  color: #1b8857;
}

.color_2 {
  color: #808080;
}

.force-opaque::placeholder {
  opacity: 1;
  color:rgb(109, 109, 109);
}

.footer{
  padding:50px 0;
  border-top: .3rem ridge #14633f;
  background:radial-gradient(ellipse at bottom,#2c2c2c 10%,#000000 90%);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
  
.footer [class*=container-]{padding:0}
  
.footer .nav{float:left;margin-bottom:0;padding-top:25px;list-style:none}
  
.footer .nav,.footer .nav-item{display:block}

.form-control {
  color: rgba(0, 0, 0, 0.8);
}

.imagen {
  width: 300px;
  height: 310px;
  object-fit: cover;
}

.imagen_logo {
  width: 1000;
  height: 790;
}

.rounded {
  border-radius: 1.25rem !important;
}
  
.color-fondo {
  background-color: #c09c30;
}

.bg_2 {
  color: #dddddd;
  font-weight:bold;
}

.bg_2:hover {
  color: #ffffff;
  font-weight:bold;
}

.space_1 {
  margin: 10px;
  padding: 10px;
}

.header-filter:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.438);
}

.shadow_font {
  text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

label.error {
  display: block;
  color: red; 
  margin-top: 5px;
}

.custom-select {
  position: relative;
  font-family: Arial;
  color: #292929;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #1d1d1d transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #202020 transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #202020;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.bi-facebook {
  font-size: 1.1em;
  text-align: center;
  align-items: center;
}

.bi-twitter-x {
  font-size: 1.1em;
  text-align: center;
  align-items: center;
}

.bi-instagram {
  font-size: 1.1em;
  text-align: center;
  align-items: center;
}

.footer .social-area {
  padding: 15px 0;
}
.footer .social-area .btn {
  margin-bottom: 3px;
}

.social-area.pull-right {
  float: none !important;
}

.font-negrita {
  font-weight: 400;
}

.checkbox-wrapper-60 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-60 *,
.checkbox-wrapper-60 ::after,
.checkbox-wrapper-60 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-60 {
  position: relative;
  display: block;
  overflow: hidden;
}
.checkbox-wrapper-60 .check {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
}
.checkbox-wrapper-60 .label svg {
  vertical-align: middle;
}
.checkbox-wrapper-60 .path1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  transition: .5s all;
}
.checkbox-wrapper-60 .check:checked + label svg g path {
  stroke-dashoffset: 0;
}

.background-blur {
  background-color: rgba(124, 124, 124, 0.192) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.custom-background {
  background-color: rgba(255, 255, 255, 0.85) !important;
  backdrop-filter: blur(5px) !important;
  border-radius: 1.2857rem !important;
}

.custom-border-radius {
  border-radius: 1.2857rem !important;
}